In [33]:
import numpy as np
import pandas as pd

# read excel file
jobs = pd.read_excel(r"C:\Users\selin\Desktop\jobs.xlsx", index_col = 0)
jobs

     Processing Time  Due Date
Job
A                  2         7
B                  8        16
C                  4         4
D                 10        17
E                  5        15
F                 12        18

In [14]:
# Create new columns for functions
jobs["Flow Time"] = np.nan
jobs["Tardiness"] = np.nan
jobs

     Processing Time  Due Date  Flow Time  Tardiness
Job
A                  2         7        NaN        NaN
B                  8        16        NaN        NaN
C                  4         4        NaN        NaN
D                 10        17        NaN        NaN
E                  5        15        NaN        NaN
F                 12        18        NaN        NaN

In [15]:
# First Come First Serve Function, creating a loop

start_time = 0
for index, row in jobs.iterrows():
    jobs.loc[index, "Flow Time"] = start_time + jobs.loc[index, "Processing Time"]
    start_time = jobs.loc[index, "Flow Time"]
    jobs.loc[index, "Tardiness"] = max(0, jobs.loc[index, "Flow Time"] - jobs.loc[index, "Due Date"])
print(jobs)

     Processing Time  Due Date  Flow Time  Tardiness
Job
A                  2         7        2.0        0.0
B                  8        16       10.0        0.0
C                  4         4       14.0       10.0
D                 10        17       24.0        7.0
E                  5        15       29.0       14.0
F                 12        18       41.0       23.0

In [16]:
# defining a function
def fcfs(jobs):
    start_time = 0
    for index, row in jobs.iterrows():
        jobs.loc[index, "Flow Time"] = start_time + jobs.loc[index, "Processing Time"]
        start_time = jobs.loc[index, "Flow Time"]
        jobs.loc[index, "Tardiness"] = max(0, jobs.loc[index, "Flow Time"] - jobs.loc[index, "Due Date"])
    return jobs

fcfs(jobs)

     Processing Time  Due Date  Flow Time  Tardiness
Job
A                  2         7        2.0        0.0
B                  8        16       10.0        0.0
C                  4         4       14.0       10.0
D                 10        17       24.0        7.0
E                  5        15       29.0       14.0
F                 12        18       41.0       23.0

In [46]:
# Alternative function for 
def fcfs_alt(jobs):
    for index, row in jobs.iterrows():
        jobs["Flow Time"] = jobs["Processing Time"].cumsum()
        jobs["Tardiness"] = np.maximum(0,jobs["Flow Time"]-jobs["Due Date"])
    return jobs

fcfs_alt(jobs)

     Processing Time  Due Date  Flow Time  Tardiness
Job
A                  2         7          2          0
B                  8        16         10          0
C                  4         4         14         10
D                 10        17         24          7
E                  5        15         29         14
F                 12        18         41         23

In [22]:
# Defining performance criteria
def performance(jobs):
    result ={"Average job flow time": jobs["Flow Time"].mean(),
             "Average Tardiness": jobs["Tardiness"].mean(),
             "Make span": jobs["Flow Time"].max(),
             "Average Nummber of Jobs": jobs["Flow Time"].sum() / jobs["Flow Time"].max()}
    return pd.Series(result)

print(performance(jobs))

Average job flow time      20.000000
Average Tardiness           9.000000
Make span                  41.000000
Average Nummber of Jobs     2.926829
dtype: float64

In [41]:
# Sort the dataframe for shortest procesing time scheduling
sorted_jobs = jobs.sort_values("Processing Time")
sorted_jobs

     Processing Time  Due Date
Job
A                  2         7
C                  4         4
E                  5        15
B                  8        16
D                 10        17
F                 12        18

In [49]:
def spt(sorted_jobs):
    start_time = 0
    for index, row in sorted_jobs.iterrows():
        sorted_jobs.loc[index, "Flow Time"] = start_time + sorted_jobs.loc[index, "Processing Time"]
        start_time = sorted_jobs.loc[index, "Flow Time"]
        sorted_jobs.loc[index, "Tardiness"] = max(0, sorted_jobs.loc[index, "Flow Time"] - sorted_jobs.loc[index, "Due Date"])
    return sorted_jobs

spt(sorted_jobs)

     Processing Time  Due Date  Flow Time  Tardiness
Job
A                  2         7        2.0        0.0
C                  4         4        6.0        2.0
E                  5        15       11.0        0.0
B                  8        16       19.0        3.0
D                 10        17       29.0       12.0
F                 12        18       41.0       23.0

In [50]:
performance(sorted_jobs)

Average job flow time      18.000000
Average Tardiness           6.666667
Make span                  41.000000
Average Nummber of Jobs     2.634146
dtype: float64